@(
        inputFields: List[ClientInputFields],
        form: Form[ClientForm.ClientRegistrationForm]
)(implicit messages: Messages, request: RequestHeader)

    @main("login.title") {
        <div class="container">
            <h1>@Messages("login.title")</h1>
            <div class="container-fluid">
                @if(form.hasErrors) {
                    <div class="alert alert-danger">
                        <strong>This form has errors</strong>
                        <p>Please correct the following:</p>
                        <ul>
                        @form.errors.map { error =>
                            <li><span class="error-message">@Messages(error.message)</span></li>
                        }
                        </ul>
                    </div>
                }
                @helper.form(routes.ApplicationController.postCreateClient()) {
                    @helper.CSRF.formField
                    <form class="form-horizontal">
                        <div class="form-group">

                        @for(field <- inputFields) {
                            <div class="form-group">
                                <label for="@field.fieldText" class="col-sm-2 control-label">@field.fieldTitle</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id=@field.id placeholder="@field.hintText"
                                    name=@field.fieldText>
                                </div>
                            </div>
                        }
                        </div>
                        <input class="button" type="submit" value="Submit">
                    </form>
                }
            </div>
        </div>
    }
