@(errorMessage: String, backButton: String)(implicit messages: Messages, request: RequestHeader)
@main("Error page") {
<main id="content">
    <div class="container">

    @if(backButton == "home"){
        <a href="@routes.HomeController.home()" class="link-back">Back</a>
    } else {
        <a href="@routes.CollectorRetrieveController.retrieveCollectorList()" class="link-back">Back</a>
    }
    <h1 class="heading-xlarge">@Messages("title.error")</h1>
        <div class="column-full">
            <div class="form-group">
                <fieldset>
                    <p>There was an error processing your request:</p>
                    <div class="alert alert-danger">
                        <strong>Error!</strong> @errorMessage
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</main>
}
