@()(implicit messages: Messages, request: RequestHeader)
@main("Error page") {
<main id="content">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>

    </div>

    <a href="@routes.ApplicationController.createClient()" class="link-back">Back</a>
    <h1 class="heading-xlarge">Create Client </h1>

    <div class="grid-row">
        <div class="column-full">
            <div class="form-group">
                <fieldset>
                    <p>There was an error processing your request.</p>
                </fieldset>
            </div>
        </div>
    </div>
</main>
}
