@()(implicit messages: Messages, request: RequestHeader)

    @main("title.home") {
        <div class="container">
            <h1>@Messages("title.home")</h1>
            <ol>
                <li><a href="@routes.CollectorRetrieveController.createCollector()" id="createClient" >
                    Create Client </a></li>
                <li><a href="@routes.CollectorRetrieveController.retrieveCollectorList()" id="clientList">
                    Client List</a></li>
            </ol>
        </div>
    }
