@()(implicit messages: Messages, request: RequestHeader)

@main("title.home") {
    <main id="content">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>

        <h1 class="heading-xlarge">@Messages("title.home")</h1>
        <div class="grid-row">
            <div class="column-full">
                <ol>
                    <li id="createClient"><a href="@routes.ApplicationController.createClient()">Create Client</a></li>
                    <li id="clientList"><a href="@routes.ApplicationController.retrieveClientList()">Client List</a></li>
                    <li id="tokenCreateKeys"><a href=@routes.ApplicationController.createTokenKeys()>Token Create Keys</a></li>
                </ol>
            </div>
        </div>
    </main>
}
