@(client: Seq[Client])(implicit messages: Messages, request: RequestHeader)

@main("create.listAll.title") {
    <main id="content">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>

        <div class="breadcrumbs">
            <ol>
                <li><a href="@routes.ApplicationController.home">Home</a></li>
                <li aria-current="page">Client List</li>
            </ol>
        </div>

        <h1 class="heading-xlarge">@Messages("create.listAll.title")</h1>
        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                        <th>Client ID</th>
                        <th>Name</th>
                        <th>Details</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                    @for(c <- client) {
                        <tr>
                            <td>@c.clientId</td>
                            <td>@c.clientName</td>
                            <td><a href="@routes.ApplicationController.viewClient(c._id, c.clientName, c.redirectURIs, c.clientId, c.clientSecret, c.imageURI.getOrElse(""), c.contactName.getOrElse(""), c.contactDetails.getOrElse(""))">View</a></td>
                            <td><a href="@routes.ApplicationController.deleteClient(c._id)">Delete</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
}
