@()(implicit messages: Messages, request: RequestHeader)
@main("Token Create Keys") {
<main id="content">
    <a href="@routes.HomeController.home()" class="link-back">Back</a>
    <h1 class="heading-xlarge">Token Create Keys</h1>

    <div class="grid-row">
        <div class="column-full">
            <div class="form-group">
                <fieldset>
                    <p>Token Keys Created Successfully.</p>
                </fieldset>
            </div>
        </div>
    </div>
</main>
}
