@()(implicit messages: Messages, request: RequestHeader)
@main("Error page") {
<main id="content">
    <a href="@routes.CollectorRetrieveController.retrieveCollectorList()" class="link-back">Back</a>
    <h1 class="heading-xlarge">Update Client</h1>

    <div class="grid-row">
        <div class="column-full">
            <div class="form-group">
                <fieldset>
                    <p>There was an error processing your request.</p>
                </fieldset>
            </div>
        </div>
    </div>
</main>
}
