@(
       client: Client,
        inputFields: List[ClientInputFields],
        form: Form[ClientForm.Client])(implicit messages: Messages, request: RequestHeader)

@main("create.client.details.title") {
    <main id="content">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>

        <div class="breadcrumbs">
            <ol>
                <li><a href="@routes.ApplicationController.home">Home</a></li>
                <li aria-current="page">Create View</li>
            </ol>
        </div>

        <a href="@routes.ApplicationController.retrieveAllClientsPage()" class="link-back">Back</a>


        <h1 class="heading-xlarge">@Messages("create.client.details.title")</h1>
        <div class="grid-row">
            <div class="column-full">
                @if(form.hasErrors) {
                    <div class="grid-row">
                        <div class="column-two-thirds">

                            <div class="error-summary" role="group" aria-labelledby="error-summary-login-form"
                            tabindex="-1">

                                <h1 class="heading-medium error-summary-heading"
                                id="error-summary-login-form-heading">
                                    This form has errors
                                </h1>
                                <p>
                                    Please correct the following:
                                </p>
                            </div>
                            <div class="form-group form-group-error">
                                <ul>
                                @form.errors.map { error =>
                                    <li><span class="error-message">@Messages(error.message)</span></li>
                                }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                @helper.form(routes.ApplicationController.postCreateClient()) {
                    @helper.CSRF.formField
                    <div class="form-group">
                        <fieldset>
                            <legend id="BAS-login-form">


                            </legend>
                            <div class="form-group">
                                <label class="form-label-bold" id=_id for=_id>
                                    MongoDB _id
                                    <span class="form-hint">
                                        MongoDB _id Hint
                                    </span>
                                </label>
                                <input class="form-control" id=_id name="_id" value="@client._id" type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label-bold" id=clientName for=ClientName>
                                    Client Name
                                    <span class="form-hint">
                                        Client Name Hint
                                    </span>
                                </label>
                                <input class="form-control" id=clientName name="clientName" value="@client.clientName" type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label-bold" id=clientID for=ClientID>
                                    Client ID
                                    <span class="form-hint">
                                        Client ID Hint
                                    </span>
                                </label>
                                <input class="form-control" id=clientID name="Client ID" value="@client.clientId" type="text">
                            </div>

                            <div class="form-group">
                                <label class="form-label-bold" id=redirectURIs for=RedirectURIs>
                                    RedirectURIs
                                    <span class="form-hint">
                                        RedirectURIs Hint
                                    </span>
                                </label>
                                <input class="form-control" id=redirectURIs name="redirectURIs" value="@client.redirectURIs" type="text">
                            </div>

                            <div class="form-group">
                                <label class="form-label-bold" id=clientID for=ClientID>
                                    ClientID
                                    <span class="form-hint">
                                        ClientID Hint
                                    </span>
                                </label>
                                <input class="form-control" id=clientID name="clientID" value="@client.clientId" type="text">
                            </div>

                            <div class="form-group">
                                <label class="form-label-bold" id=clientSecret for=ClientSecret>
                                    ClientSecret
                                    <span class="form-hint">
                                        ClientSecret Hint
                                    </span>
                                </label>
                                <input class="form-control" id=clientSecret name="clientSecret" value="@client.clientSecret" type="text">
                            </div>

                            <div class="form-group">
                                <label class="form-label-bold" id=imageURI for=ImageURI>
                                    ImageURI
                                    <span class="form-hint">
                                        ImageURI Hint
                                    </span>
                                </label>
                                <input class="form-control" id=imageURI name="imageURI" value="@client.imageURI" type="text">
                            </div>

                            <div class="form-group">
                                <label class="form-label-bold" id=contactName for=ContactName>
                                    ContactName
                                    <span class="form-hint">
                                        ContactName Hint
                                    </span>
                                </label>
                                <input class="form-control" id=contactName name="contactName" value="@client.contactName" type="text">
                            </div>

                            <div class="form-group">
                                <label class="form-label-bold" id=contactDetails for=ContactDetails>
                                    ContactDetails
                                    <span class="form-hint">
                                        ContactDetails Hint
                                    </span>
                                </label>
                                <input class="form-control" id=contactDetails name="contactDetails" value="@client.contactDetails" type="text">
                            </div>

                        </fieldset>
                    </div>
                    <input class="button" type="submit" value="Submit">
                    }
            </div>
        </div>
    </main>
}
